[Unit]
Description=Default for network settings
After=network-manager.service lightdm.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/deepin-default-settings-network

[Install]
WantedBy=multi-user.target
