Source: deepin-default-settings
Section: admin
Priority: optional
Maintainer: sysdev <sysdev@deepin.com>
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 8.1.3~)

Package: deepin-default-settings
Architecture: all
Depends: ${misc:Depends}, deepin-artwork, deepin-default-settings-tuning(>= 2018.1.23), iw, deepin-wallpapers
Suggests: binfmt-support
Conflicts: chrome-default-settings,
 deepinop, deepin-default-settings-network
Replaces: deepinop, deepin-default-settings-network
Description: default settings for deepin destkop environment
 This package does tweaking and to provide better experience of deepin desktop
 environment.

Package: deepin-default-settings-tuning
Architecture: all
Depends: ${misc:Depends} 
Replaces: deepin-default-settings (<= 2018.1.23)
Description: default settings for deepin destkop environment - misc overrides
 This package does tweaking and to provide better experience of deepin desktop
 environment.
 .
 This package includes files to override cups default page and fcitx icon.
