[Desktop Entry]
Actions=new-window;
Categories=Utility;
Comment=Browse the file system
Exec=/usr/bin/dde-file-manager -d
GenericName=File Manager
Icon=dde-file-manager
MimeType=inode/directory;
Name=Deepin File Manager
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
X-Deepin-DEComponent=true
X-Deepin-Vendor=deepin
